@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');

/*   font-family: 'Noto Sans', sans-serif; */

.hidden {
  display: none !important;
}

.visible {
  display: block;
}

:root {
    --red1: #73223e;
    --red2: #730135;
    --gray1: #888;
    --gray2: #555;
    --white1: #e3e6eb;
    --black1: #1c1914;
    --radius: 10px;
    --border-width: 2px;
    --inner-radius: calc(var(--radius) + var(--border-width));
}

html,body {
    height: 100%;
    min-height: 100vh;
}
        

html {
    scroll-behavior: smooth
}

body.dark-theme {
    --text-color: var(--white1);
    --bg1: #14181f;
    --bg2: #191e27;
    }

    
body.light-theme {
    --text-color: var(--black1);
    --bg1: #ffffff;
    --bg2: #cbd0da;
    }

.pink-accent{
    --accent1: #FF94D1;
}

.blue-accent{
    --accent1: #7eddd3;
}

.orange-accent{
    --accent1: orange;
}

body {
    background: var(--bg1);
    font-family: 'Noto Sans', sans-serif;
    padding: unset;
    margin: unset;
    scroll-behavior: smooth;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#indexNav{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: flex-start;
}

.centered {
    display: grid;
    grid-gap: 10px;
    align-items: center;
    justify-content: start;
    align-content: center;
    justify-items: start;
    height: -webkit-fill-available;
    height: fill-available;
    min-height: -moz-available;
    height: 100%;
}

a {
    text-decoration: none;
}

p {
    color: var(--text-color);
}


@keyframes fadedown {
    0% {
        transform: translateY(-1%);
    }
    100% {
        transform: translateY(0);
    }
}

ol {
    padding: 0px;
}

#PageContentEncompass {
    width: 67%;
    margin: auto;
    max-width: 1500px;
}

select:hover{
    cursor: pointer;
}

.note {
    border: 2px solid var(--red2);
    background-color: var(--red1);
    border-radius: 10px;
    color: var(--bg1);
    width: 97%;
    margin-left: auto;
    margin-right: auto;
}

.note li {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.noteheader {
    border-bottom: 2px solid;
    color: var(--bg1);
}

.note div {
    border: 2px solid var(--bg1);
    border-radius: 10px;
    color: var(--bg1);
    width: -webkit-fill-available;
    min-width: -moz-available;
    width: fill-available;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Noto Sans', sans-serif;
}

.child {
    border-radius: 10px;
    width: 97%;
    height: 392px;
    margin-top: 9px !important;
    height: auto;
    margin: auto;
    overflow: hidden;
    background-color: var(--bg2);
}

.child p {
    margin-left: 1em;
    margin-right: 1em;
    text-align: left;
}

.subheadings {
    margin: 10px;
    border-bottom: 2px solid;
    overflow: hidden;
    color: var(--accent1) !important;
}

div {
    margin-left: auto;
    margin-right: auto;
    color: var(--accent1);
}

div:nth-child(1) {
    animation: 1s ease-out 0s 1 fadedown;
}

div:nth-child(2) {
    animation: 1s ease-out 0s 1 fadedown;
}

div:nth-child(3) {
    animation: 1s ease-out 0s 1 fadedown;
}

section {
    color: var(--accent1);
}

#logo {
    font-size: 63px;
    color: var(--accent1);
    margin: 0px;
    width: 100%;
    transition: 0.4s;
}

::-webkit-scrollbar {
    width: 5px;
    height: 5px;
    border-radius: 10px;
}

::-webkit-scrollbar-track {
    background: var(--bg1);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: var(--gray1);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: var(--gray2);
    width: 10px;
    height: 10px;
}

::-webkit-scrollbar-corner,
 ::-webkit-scrollbar-track-piece {
    border-radius: 10px;
}

img {
    max-height: 400px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    width: auto;
    height: auto;
    display: block;
    border: transparent;
    border-radius: 10px;
    -webkit-user-drag: none;
}

p, a, pre, li a, select {
    color: var(--white1);
    font-family: 'Noto Sans', sans-serif;
    text-align: Center;
    transition: 0.4s;
    text-decoration: none;
}

ul {
    padding-inline-start: 31px;
}

li {
    padding-right: 31px;
}

.note li {
    color: var(--bg1) !important;
}

select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    background-color: transparent;
    border: transparent;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
    color: var(--white1);
    font-size: inherit;
    margin: 0;
    overflow: hidden;
    padding-top: 2px;
    padding-bottom: 2px;
    text-overflow: ellipsis;
    white-space: nowrap;
}

option {
    background-color: var(--bg2);
    border-radius: 0px;
}

pre {
    font-family: monospace !important;
    text-align: left;
}

p:hover, a:hover, pre:hover {
    color: var(--accent1);
}

button {
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    border: 2px solid var(--accent1);
    background-color: transparent;
    color: var(--text-color);
    transition: 0.4s;
    width: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

button:hover {
    border-color: var(--bg1);
    color: var(--bg1);
    background-color: var(--white1);
    width: calc(100% + 10px);
    cursor: pointer;
}


@media only screen and (max-width: 600px) {
    #logo {
        text-align: center;
        font-size: 63px;
    }

    p, a, li, select {
        font-size: calc(12px + 6 * ((100vw - 320px) / 680))
    }
}

@media only screen and (min-width: 600px) {
    #logo {
        text-align: left;
        padding-left: 15px;
        font-size: 63px;
    }
    p, a, pre, li, select {
        font-size: calc(14px + 6 * ((100vw - 320px) / 100000));
    }
}

@media only screen and (max-width: 768px) {
    #PageContentEncompass {
        width: 100%;
    }
}

@media only screen and (max-width: 877px) {
    #logo {
        text-align: center;
        padding: 0;
        width: 100%;
    }
}